# Network Selection
NETWORK=localhost

# Private key (required)
PRIVATE_KEY=

# # Optional: Minimum subsidy overrides (base units)
# MIN_SUBSIDY_COLLATERAL=
# MIN_SUBSIDY_DEBT=

# Optional: Dry run (must be 'true', 'false', or empty)
DRY_RUN=

# Notifications
SLACK_TOKEN=
SLACK_CHANNEL=#dloop-rebalancer
LOG_LEVEL=info
